*{
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
}

.container{
    width: 90%;
    background:honeydew;
    margin: 20px auto;
    /*  */
    position: relative; 
    /*  */
    border-radius: 10px;
}

body{
    background-color:thistle;
    padding-top: 20px;
}

div.aero img{
    width: 15%;
    margin: 10px;
}

div.aero{
    text-align: center;
}

.wrapMenu{

    width: 20%;
    display: block;
    position: fixed;
    left: 90px;
    /* top:20px */
    border: 1px solid grey;
    border-radius: 10px;
    background: white;
    box-shadow: 5px 5px 10px #c0c0c0;
}

.wrap{
    margin: 15px;
    padding: 15px;
}

.wrap1, .wrap2{
    display: flex;
    flex-direction: row; 
}

.wrap1{
    justify-content:flex-end;
    box-shadow: 5% grey;
}

.itemspart{
   /* border: 1px solid black; */
   width: 25%;
}

.stop-ivent{
    font-size: 14px;
    text-align: center;
    justify-content: center;
    padding-top: 15px;

}

.dep_time, .arr_time{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.depart, .arrive{
padding-top: 20px;
padding-left: 25px;
}

.orig, .destin{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section{
    border: 1px solid gray;
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 5px 5px 10px #c0c0c0;
}

.items{
    width: 75%;
}

.carrier{
    margin: 2px;
}

div.carrier img{
    margin: 10px;
}

button.buy{
    width:150px;
    margin: 10px;
    background-color:darkorange;
    border-radius: 10px;
    border-color: orange;
    color:white;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 button.buy:hover{
     background-color: orange;
     cursor: pointer;;
 }

h3{
    margin: 10px 3px;
}

.valuta{
    display:flex;
    font-size: 20px;
    margin: 5px;
    border:1px solid grey;
    border-radius: 5px;
    overflow: hidden;
}


.val-sel{
    padding: 5px;
    /* display: block; */
    width: 33%;
    height: 20px;
    border: 1px solid grey;
    text-align: center;
    color:blue;
    font-weight: bold;
}

.val-sel:hover{
    background-color: rgb(227, 234, 241);
    cursor: pointer;
}

.val-activ{
    background-color: blue;
    color: white;
}

.q-chang{
    float: left;
    margin: 5px;
}

.item{
    margin: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .cont {
      display:flex;
      flex-direction:column;
      padding: 0 20px;
      }

    .persdata {
margin: 15px auto;
width: 25rem;

    }

    td.one{
        font-size: 18px;
        width: 10rem;
    }


